header {background-color: rgba(60, 120, 160, 0.9); padding: 10px; color: white;}
h2 {text-align: center; font-style: italic;}
h1 {text-align: center; font-style: italic;}
h3 {font-style: italic; color: white;}
section {font-family: Verdana;}
body {background-image: url(motor.png); background-position: center;}

.left {width: 75%;margin: 2%; height: 600px; font-size: 120%; background-color: rgba(0, 100, 0, 0.6);box-shadow: 10px 10px 7px  DimGray;}
.text1:hover {background-color: lightgreen;}
.text2:hover {background-color: lightgreen;}
.text3:hover {background-color: lightgreen;}

.list {margin: 1%; box-shadow: 10px 10px 7px  DimGray; height: 300px; background-color: rgba(0, 100, 0, 0.6)}
.stats {margin: 1%; box-shadow: 10px 10px 7px  DimGray; height: 300px; background-color: rgba(0, 100, 0, 0.6)}

main { display: flex; flex-direction: row;}
footer {display: flex; flex-direction: column;}

.foot {background-color: rgba(60, 120, 160, 0.9)}